.logo {
  column-gap: 15px;
  margin: 10px;
}

.logo:hover {
  color: var(--primary);
  cursor: pointer;
}

.logoText {
  font-weight: bold;
}

.navbarItemWrapper {
  font-size: smaller;
}

.navbarBrand {
  align-items: center;
}

.navbarEnd {
  margin-top: 5px;
}
